@import "tailwindcss";

@custom-variant mobile (@media (max-width: 600px));   /*custom breakpoint using max-width for focus on mobile*/

@layer base {
  html {
    scroll-behavior: smooth;
    scrollbar-width: none;
  }

}

@theme {
  --font-caveat: "caveat variable";
  --font-lobster: "lobster";
  --font-roboto: "roboto";
  --font-exo2: "Exo 2 variable";
  --font-oswald: "Oswald Variable", sans-serif;
}

@layer components {
  .cart {
    @apply flex h-70 items-end justify-around rounded-2xl bg-slate-100 pb-7 shadow-xl mobile:w-55;
  }
  .heading {
    @apply font-caveat mt-4 mb-4 text-5xl font-bold;
  }
  .product-logo {
    @apply flex h-15 w-15 items-center justify-center rounded-full bg-amber-100;
  }
  .product-image {
    @apply absolute top-0 h-45 w-45 object-contain;
  }
  .blog-div {
    @apply rounded-3xl shadow-xl;
  }
  .logo-div {
    @apply flex h-15 w-15 items-center justify-center rounded-full bg-amber-500 mobile:w-9 mobile:h-9;
  }
  .icons {
    @apply h-10 w-9 object-contain absolute top-0 mt-2 z-10;
  }
  .icons-indulge {
    @apply h-10 w-10 object-contain;
  }
  .hover-action {
    @apply transition ease-in-out hover:scale-110 cursor-pointer;
  }
  .hover-action-2 {
    @apply transition ease-in-out group-hover:scale-110 cursor-pointer;
  }
  .hover-image-action {
    @apply transition duration-[500ms] group-hover:scale-110;
  }
  .hover-menu {
    @apply group-hover:text-amber-500 cursor-pointer
  }

}
