@import "tailwindcss";

@layer base {
  body {
    @apply pb-20
  }
}

@theme {
  --font-caveat: 'caveat variable';
  --font-lobster: 'lobster';
  --font-roboto: 'roboto';
  --font-exo2: 'Exo 2 variable';
  --font-oswald: 'Oswald Variable', sans-serif;
}

@layer components {
  .cart {
    @apply pb-7 h-70 bg-slate-100 flex justify-around items-end rounded-2xl;
  }
  .heading {
    @apply font-caveat text-5xl font-bold mt-4 mb-4;
  }
  .product-logo {
    @apply w-15 h-15 bg-amber-400 rounded-full
  }
  .product-image {
    @apply absolute w-45 h-45 object-contain top-0
  }
}